* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #F2F2F2;
  color: #333;
}

/* BANNER */
.banner {
  background: #111;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.banner h1 {
  font-size: 32px;
}

.banner p {
  margin-top: 10px;
  font-size: 18px;
}

/* SOBRE */
.sobre {
  background: white;
  padding: 30px;
  text-align: center;
}

/* CATEGORIAS */
.categoria {
  padding: 30px 20px;
}

.categoria h2 {
  margin-bottom: 20px;
  border-left: 5px solid #E91E63;
  padding-left: 10px;
}

/* PRODUTOS */
.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.produto {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.produto img {
  width: 100%;
  border-radius: 8px;
}

.produto h3 {
  margin: 10px 0;
  font-size: 16px;
}

.produto span {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.produto a {
  display: inline-block;
  background: #E91E63;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  text-decoration: none;
}

/* RODAPÉ */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}
